<a href="https://colab.research.google.com/github/Muyikem21/Sunday_INFO5502_Spring2022/blob/main/INFO_5502_Mid_term_Exam_Spring2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### INFO 5502 Mid-term Exam (03/10/2022, 80 points in total)

<span style='background:yellow'>**Question 1 (5 pt).**</span> Make an array called `weird_numbers` containing the following numbers (in the given order):

1. -3
2. the sine of 2.1
3. 5
4. 4 to the power of the cosine of 4.2

*Hint:* `sin` and `cos` are functions in the `math` module.

In [1]:
import math as m

#creating arrays of weird_numbers

weird_numbers=[]
weird_numbers.append(-3)
weird_numbers.append(m.sin(2.1))
weird_numbers.append(5)
weird_numbers.append(pow(5,m.cos(4.2)))

print(weird_numbers) # printing the array of numbers

[-3, 0.8632093666488737, 5, 0.45427871807447756]

<span style='background:yellow'>**Question 2 (5 pt).**</span> Write a simple function that takes in a number (weight in pounds) and returns a number which is the coreesponding conversion to kg.

Test it by calling the function on 15 and 27. E.g., `convert_pounds_to_kg(15)`, `convert_pounds_to_kg(27)`. Print both to screen.

Hint: 1 pound = 0.453592 kg

In [ ]:
#### You code here

def convert_pounds_to_kg(number):
    """Converts a number in pounds to kg."""
    pounds = float(input("enter the amount of pounds:  ")
    kgs = pounds * 2.2
    grams = kilograms * 1000 
print(convert_pounds_to_kg(15))
print(convert_pounds_to_kg(27))

<span style='background:yellow'>**Question 3 (5 pt).**</span> We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](noaa.gov), all the temperatures are in Fahrenheit.  Convert them all to Celsius by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$. Make sure to **ROUND** the final result after converting to Celsius to the nearest integer using the `np.round` function. Download the data from here: https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/temperatures.csv

In [ ]:

import numpy as np
import pandas as pd
data = pd.read_csv('temperatures.csv')
celsius_max_temperatures = np.array([round(((item-32)*5/9)+0.5) for item in data['temperatures']])
print(type(celsius_max_temperatures))

<span style='background:yellow'>**Question 4 (5 pt).**</span> Suppose you have 4 apples, 3 oranges, and 3 pineapples.  (Perhaps you're using Python to solve a high school Algebra problem.)  Create a table that contains this information.  It should have two columns: `fruit name` and `count`.  Assign the new table to the variable `fruits`.

**Note:** Use lower-case and singular words for the name of each fruit, like `"apple"`.

In [2]:
import numpy as np
from tabulate import tabulate
  
# creating a numpy array 
m = np.array([['apple', 4],['orange', 3], ['pineapple', 3]])
headers = ["Fruit Name", "Count"]
  
# displaying the table 
fruits = tabulate(m, headers, tablefmt="fancy_grid") 
print(fruits)

╒══════════════╤═════════╕
│ Fruit Name   │   Count │
╞══════════════╪═════════╡
│ apple        │       4 │
├──────────────┼─────────┤
│ orange       │       3 │
├──────────────┼─────────┤
│ pineapple    │       3 │
╘══════════════╧═════════╛

<span style='background:yellow'>**Question 5 (10 pt).**</span> Below we load a table containing 200,000 weekday Uber rides in the Boston, Massachusetts metropolitan area from the [Uber Movement](https://movement.uber.com) project. The `sourceid` and `dstid` columns contain codes corresponding to start and end locations of each ride. The `hod` column contains codes corresponding to the hour of the day the ride took place. The `ride time` column contains the length of the ride, in minutes. Produce a histogram of all ride times in Boston using the given bins. Download the data from here: https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/boston.csv

In [ ]:

import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
get_ipython().run_line_magic('matplotlib', 'inline')
# Read boston.csv file
boston = pd.read_csv("boston.csv")
# Read manila.csv file
# Display first 4 rows of the loaded boston.csv file
print("Boston Table")
boston.show(4)
# Create bins of of equal width for plotting the histogram
bins = np.arange(0, 120, 5)
# Plot histogram of all ride times in Boston using the above bins
boston.hist("ride time", bins=bins, unit="Minutes")

<span style='background:yellow'>**Question 6 (20 pt).**</span> Below is a dataset we collected from this website: https://ddr.densho.org/narrators/?page=1. Narrators are the interview subjects of oral histories contained in the Densho Digital Repository. The interviewees, or narrators, share their life histories to preserve history, educate the public, and promote tolerance. We urge our users to approach these materials in the same spirit. You are required to conduct the exploratory data analysis on the location, year of born, generation, and gender. Please select the best visualiztions to present your results. Download the data from here: https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/Combined-data.xlsx

In [ ]:
#### You code here

<span style='background:yellow'>**Question 7.**</span> **Monkeys Typing Shakespeare** A monkey is banging repeatedly on the keys of a typewriter. Each time, the monkey is equally likely to hit any of the 26 lowercase letters of the English alphabet, 26 uppercase letters of the English alphabet, and any number between 0-9 (inclusive), regardless of what it has hit before. There are no other keys on the keyboard.  

This question is inspired by a mathematical theorem called the Infinite monkey theorem (<https://en.wikipedia.org/wiki/Infinite_monkey_theorem>), which postulates that if you put a monkey in the situation described above for an infinite time, they will eventually type out all of Shakespeare’s works.

<span style='background:yellow'>**Question 7-1 (10 pt).**</span> Suppose the monkey hits the keyboard 5 times.  Compute the chance that the monkey types the sequence `Data8`.  (Call this `data_chance`.) Use algebra and type in an arithmetic equation that Python can evalute.

In [ ]:
#### You code here

<span style='background:yellow'>**Question 7-2 (10 pt).**</span> Write a function called `simulate_key_strike`.  It should take **no arguments**, and it should return a random one-character string that is equally likely to be any of the 26 lower-case English letters, 26 upper-case English letters, or any number between 0-9 (inclusive).

In [ ]:
#### You code here

<span style='background:yellow'>**Question 7-3 (10 pt).**</span> Write a function called `simulate_several_key_strikes`.  It should take one argument: an integer specifying the number of key strikes to simulate. It should return a string containing that many characters, each one obtained from simulating a key strike by the monkey.

*Hint:* If you make a list or array of the simulated key strikes called `key_strikes_array`, you can convert that to a string by calling `"".join(key_strikes_array)`

In [ ]:
#### You code here