<a href="https://colab.research.google.com/github/Muyikem21/Sunday_INFO5502_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [25]:
z='google.com'
c={}
for i in z:
  if i in c:
    c[i]=c[i]+1
  else:
    c[i]=1
print(c)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [28]:
mylist=[1,2,3,4,5,6,7,8,9,10]
total=0
for i in range(0,len(mylist)):
  total=total+mylist[i]
print(total)

55

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [30]:
def string_replace(string):
  first_char=string[0]
  modified_string=string[1:].replace(first_char, '$')
  return first_char+modified_string
print(string_replace('restart'))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [32]:
a,b=map(int,input().split(","))
S=3.14*(1+a/b)**3
print(S)

2,3
14.537037037037033

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [33]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
merged_dic={**dic1,**dic2,**dic3}
print(merged_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [35]:
t=(2,4,6,8,10,12)
print('The tuple is:', t)
print('14 exists in t', (14 in t))
print('10 exists in t', (10 in t))

The tuple is: (2, 4, 6, 8, 10, 12)
14 exists in t False
10 exists in t True

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [38]:
myset={2,5,7,10,25,56}
print(max(myset))
print(min(myset))

56
2

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [55]:
import random
from itertools import islice
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040',
                'ds0814', 'av0659','nv0234','hy0232']
length_to_split = []
for i in range(6):
              length_to_split.append(random.randint(4,6))
if sum(length_to_split)!=len(student_list):
              if length_to_split[i]==4 or length_to_split[i]==6:
                length_to_split[i] = length_to_split[i] + 1
else:
  Input = iter(student_list)
Output = [list(islice(Input, elem)) for elem in length_to_split]
  
print("Initial list is:\n", student_list )
print("\nSplit length list: \n", length_to_split)
print("\nList after splitting\n", Output)

Initial list is:
 ['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141', 'jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458', 'sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640', 'sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']

Split length list:
 [4, 6, 6, 4, 6, 5]

List after splitting
 [['ja0964', 'sa1198', 'sb1357', 'vb0218'], ['sc1229', 'kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458', 'sk1313'], ['ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500', 'aos0040'], ['ds0814', 'av0659', 'nv0234', 'hy0232']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [52]:
def Duplicates(array):
    result = []
    for x in array:
        if (array.count(x)>1) and (x not in result):
            result.append(x)
    if len(result)==0:
        return -1
    else:
        return result


# Testing
print(Duplicates([1,2,1,5,2,5,3,7]))
print(Duplicates([1,2,3,5,7]))

[1, 2, 5]
-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [54]:
from datetime import date, timedelta
def sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
#get year from user 
year=(int(input("Enter year: ")));
for s in sundays(year):
   print(s)

Enter year: 2022
2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25