<a href="https://colab.research.google.com/github/Muyikem21/Sunday_INFO5502_Spring2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (02/04/2022, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [7]:
import random
random_list=[]
for i in range(0,12):
    k=random.randint(1,100)
    random_list.append(k)
ascending_list=sorted(random_list)
print(ascending_list)
descending_list=ascending_list[::-1]
print(descending_list)
k=0
for i in random_list:
    k=k+i 
average=k/12
print("average:",average)

[23, 27, 39, 44, 65, 70, 75, 76, 84, 91, 93, 95]
[95, 93, 91, 84, 76, 75, 70, 65, 44, 39, 27, 23]
average: 65.16666666666667

# Question 2
(20 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [10]:
import string
import re

one = input("Enter first string: ")
two = input("Enter second string: ")

a = re.findall(r"[\w']+|[.,!?;:]", one)
b = re.findall(r"[\w']+|[.,!?;:]", two)

print("First list:",a)
print("Second list:",b)

print("\nFollowing are common")
for word in a:
    for other in b:
     if word.lower() == other.lower():
      print(word)
  
print("\nFollowing are common without punctuation")
for word in a:
  for other in b:
   if word.lower() == other.lower() and word not in string.punctuation:
    print(word)
  
vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
for letter in one:
  if letter.lower() in vowels:
   vowels[letter.lower()] += 1

print("\nVowel frequency ",vowels)

Enter first string: The strength of the Lord is my joy
Enter second string: I am glad Jesus loves me
First list: ['The', 'strength', 'of', 'the', 'Lord', 'is', 'my', 'joy']
Second list: ['I', 'am', 'glad', 'Jesus', 'loves', 'me']

Following are common

Following are common without punctuation

Vowel frequency  {'a': 0, 'e': 3, 'i': 1, 'o': 3, 'u': 0}

# Question 3 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [9]:
import math
print("r\t v")
for x in range(1,10):
    v=4/3*math.pi*math.pow(x, 3)
    print(x,"\t", v, "\n", end='',)

r	 v
1 	 4.1887902047863905
2 	 33.510321638291124
3 	 113.09733552923254
4 	 268.082573106329
5 	 523.5987755982989
6 	 904.7786842338603
7 	 1436.7550402417319
8 	 2144.660584850632
9 	 3053.6280592892786

# Question 4

(20 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [13]:
import pandas as pd
import statistics

house = pd.read_csv('denton_housing.csv')
print('Shape: ',house.shape)
house.head()


# (1) Calculate the difference in the number of Occupied Housing Units from year to year and print it.
# The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc.
# Finally, print the values in the ascending order.

# number of ocupied houses
occuped_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year
diff_house = [list(occuped_houses['value'].values)[loop1] - list(occuped_houses['value'].values)[loop1+1]\
              for loop1 in range(len(occuped_houses)-1)]
diff_house = sorted(diff_house)    # sorting in ascending order
diff_house


# (2) For all the years, calculate the percentage of housing units which are vacant and occupied.
# Print the results in the following format: Year Vacant Housing Units Occupied Housing Units

unique_years = sorted(list(house['year'].unique()))   # legging list of unique year number

# number of ocupied houses
occuped_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# number of vacant houses
vacant_houses = house[house['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occuped_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df

Shape:  (42, 3)

   year  Vacant House  ...  Percent of Vacant House  Percent of Occupied House
0  2008          4483  ...                10.882653                  89.117347
1  2009          3583  ...                 9.071116                  90.928884
2  2010          3635  ...                 8.142556                  91.857444
3  2011          4213  ...                 9.379522                  90.620478
4  2012          3013  ...                 6.677600                  93.322400
5  2013          4215  ...                 8.801788                  91.198212
6  2014          2814  ...                 5.730111                  94.269889

[7 rows x 5 columns]